<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">

<!-- 사용자 정의 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            calculateTotalPrice(); /* 시작하자마자 호출하기 */

            /* 수량 변경할 때 마다 호출하기 */
            $('#count').change(function(){
                calculateTotalPrice();
            });
        });

        function AddComma(num){ /* 3자리마다 콤마 유형 넣기 */
            var regexp = /\B(?=(\d{3})+(?!\d))/g;
            return num.toString().replace(regexp, ',');
        }

        /* 전체 금액을 계산해주는 함수 구현하기 */
        function calculateTotalPrice(){
            var price = $('#price').val();
            var count = $('#count').val();
            var totalPrice = price * count ;
            $('#totalPrice').html(AddComma(totalPrice) + '원');
        }

        /* 주문 기능 구현하기 */
        function order(){
            var count = Number($('#count').val()) ;
            if(count == 0){
                alert('주문 수량은 최소 1개 이상이어야 합니다.');
                return false ;
            }

            var myurl = '/order';

            var paramData = {
                productId:$('#productId').val(),
                count:count
            };

            /* 자바 스크립트 객체를 문자열 형식으로 변경합니다. */
            var param = JSON.stringify(paramData);

            var token = $("meta[name='_csrf']").attr("content") ;
            var header = $("meta[name='_csrf_header']").attr("content") ;
            /* 장바구니 기능 구현하기 */
        function addCart(){
            var count = Number($('#count').val()) ;
            if(count == 0){
                alert('수량은 최소 1개 이상이어야 합니다.');
                return false ;
            }

            var myurl = '/cart';

            /* 관련 클래스 : CartProductView */
            var paramData = {
                productId:$('#productId').val(),
                count:count
            };

            /* 자바 스크립트 객체를 문자열 형식으로 변경합니다. */
            var param = JSON.stringify(paramData);

            var token = $("meta[name='_csrf']").attr("content") ;
            var header = $("meta[name='_csrf_header']").attr("content") ;

            $.ajax({
                url:myurl,
                type:'POST',
                contentType:'application/json',
                data:param,
                beforeSend:function(xhr){
                    //console.log(token + '/' + header);
                    //xhr.setRequestHeader(header, token) ;
                },
                cache:false,
                success:function(response, status){
                    var name = $('#name').val();
                    var message = "'" + name + "' 상품 '" + count + "'개를 장바구니에 담았습니다.";
                    alert(message);
                    location.href = '/' ;
                },
                error:function(xhr, status, error){
                    console.log('failure');
                    console.log('xhr.responseText : ' + xhr.responseText);
                    console.log('status : ' + status);
                    console.log('error : ' + error);

                    if(xhr.status == '401'){
                        alert('로그인 이후 이용해 주시길 바랍니다.');
                        location.href = '/member/login' ;
                    }
                }
            });
        }
            /* 장바구니 기능 구현하기 */
            function addCart(){
                var count = Number($('#count').val()) ;
                if(count == 0){
                    alert('수량은 최소 1개 이상이어야 합니다.');
                    return false ;
                }

                var myurl = '/cart';

                /* 관련 클래스 : CartProductView */
                var paramData = {
                    productId:$('#productId').val(),
                    count:count
                };

                /* 자바 스크립트 객체를 문자열 형식으로 변경합니다. */
                var param = JSON.stringify(paramData);

                var token = $("meta[name='_csrf']").attr("content") ;
                var header = $("meta[name='_csrf_header']").attr("content") ;

                $.ajax({
                    url:myurl,
                    type:'POST',
                    contentType:'application/json',
                    data:param,
                    beforeSend:function(xhr){
                        //console.log(token + '/' + header);
                        //xhr.setRequestHeader(header, token) ;
                    },
                    cache:false,
                    success:function(response, status){
                        var name = $('#name').val();
                        var message = "'" + name + "' 상품 '" + count + "'개를 장바구니에 담았습니다.";
                        alert(message);
                        location.href = '/' ;
                    },
                    error:function(xhr, status, error){
                        console.log('failure');
                        console.log('xhr.responseText : ' + xhr.responseText);
                        console.log('status : ' + status);
                        console.log('error : ' + error);

                        if(xhr.status == '401'){
                            alert('로그인 이후 이용해 주시길 바랍니다.');
                            location.href = '/member/login' ;
                        }
                    }
                });
            }
            $.ajax({
                url:myurl,
                type:'POST',
                contentType:'application/json',
                data:param,
                beforeSend:function(xhr){
                    /* 데이터를 전송하기 전에 csrf 토큰을 Header에 먼저 전송하도록 합니다. */
                    //console.log(token + '/' + header);
                    //xhr.setRequestHeader(header, token) ;
                },
                cache:false,
                success:function(response, status){
                    alert('주문이 완료 되었습니다.');
                    location.href = '/' ;
                },
                error:function(xhr, status, error){
                    console.log('failure');
                    console.log('xhr.responseText : ' + xhr.responseText);
                    console.log('status : ' + status);
                    console.log('error : ' + error);

                    if(xhr.status == '401'){
                        alert('로그인 이후 이용해 주시길 바랍니다.');
                        location.href = '/member/login' ;
                    }
                }
            });
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        /* 대표 이미지 div 영역 */
        .repImgDiv{
            margin-right:3px;
            height:auto;
            width:50%;
        }
        /* 대표 이미지 img 영역 */
        .repImg{
            width:100%;
            height:400px;
        }
        .mgb-15{
            margin-bottom:15px;

        }
        /* 우측 영역 */
        .right_aside{
            height:auto;
            width:50%;
            padding:10px;
            border:0px solid black ; /* 차후 삭제 예정 */
        }
        .badge{font-size:1.1rem;}
        .jumbotron{
            margin-top:10px;
        }
        /* 결제 금액 */
        .amount_of_payment{
            margin-top:50px;
        }
    </style>
</th:block>

<div class="content" layout:fragment="content">
    <input type="hidden" id="productId" th:value="${product.id}">
    <div class="d-flex">
        <!-- 대표 이미지 영역 시작 -->
        <div class="repImgDiv">
            <img class="img-thumbnail repImg" th:alt="${product.name}"
                 th:src="${product.image01}" width="510" height="510">
        </div>
        <!-- 대표 이미지 영역 끝 -->
        &nbsp;&nbsp;&nbsp;
        <!-- 우측 영역 시작 -->
        <div class="right_aside">
            <span class="badge badge-primary mgb-15" th:text="${product.productStatus.getStatus()}">
            </span>
            <!-- 상품 이름 -->
            <input type="hidden" name="name" id="name" th:value="${product.name}"/>
            <div class="h4" th:text="${product.name}"></div>

            <hr>

            <div class="text-right">
                <div class="h4 text-danger text-left">
                    <input type="hidden" th:value="${product.price}" id="price" name="price">
                    <!-- 가격 콤마 유형으로 보여 주기 -->
                    <span th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"/>원
                </div>
                <div class="input-group w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text">수량</span>
                    </div>
                    <input type="number" name="count" id="count" class="form-control" value="0" min="0">
                </div>
            </div>

            <hr>

            <div class="text-right amount_of_payment">
                <h5>결제 금액</h5>
                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold">0원</h3>
            </div>

            <div class="text-right"
                 th:if="${product.productStatus.name() == 'SELL'}">
                <button type="button" class="btn btn-light border-primary btn-lg"
                        onclick="javascript:addCart();">
                    장바구니 담기
                </button>
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="javascript:order();">
                    주문하기
                </button>
            </div>
            <div class="text-right"
                 th:unless="${product.productStatus.name() == 'SELL'}">
                <button type="button" class="btn btn-danger btn-lg">품절</button>
            </div>
        </div>
        <!-- 우측 영역 끝 -->
    </div>
    <!-- 점보 트론 시작 -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h4 class="display-5">상품 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${product.description}"></p>
        </div>
    </div>
    <!-- 점보 트론 끝-->
    <!-- 세부 이미지 시작 -->
    <div class="text-center">
        <img th:if="${not #strings.isEmpty(product.image01)}" th:src="${product.image01}"
             class="rounded mgb-15" width="600" height="450" th:alt="${product.name}">
    </div>
    <br/>
    <div class="text-center">
        <!--/* 이미지가 없는 경우 /images/image/null 형식으로 넘어 옵니다. 문자열 /null을 포함하고 있는 지 체크합니다. */-->
        <div th:if="${not #strings.contains(product.image02,'/null')}">
            <img th:if="${not #strings.isEmpty(product.image02)}" th:src="${product.image02}"
                 class="thumbnail mgb-15" width="600" height="450" th:alt="${product.name}">
        </div>
    </div>
    <br/>
    <div class="text-center">
        <div th:if="${not #strings.contains(product.image03,'/null')}">
            <img th:if="${not #strings.isEmpty(product.image03)}" th:src="${product.image03}"
                 class="rounded mgb-15" width="600" height="450" th:alt="${product.name}">
        </div>
    </div>
    <!-- 세부 이미지 끝 -->
</div>
</html>