<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">

<!-- 이 문서의 내용물은 텍스트 형식의 HTML 문서입니다. -->
<!-- 문자열 인코딩은 UTF-8 방식을 사용합니다. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>
</th:block>

<body>
<div class="content" layout:fragment="content">
    <!-- th:object 는 컨트롤러에서 해당 html 파일로 바인딩 된 객체 -->
    <form action="/member/insert" role="form" method="post" th:object="${memberView}">
        <div class="form-group">
            <label th:for="name">이름</label>
            <!-- th:field 는 memberView 객체 내부 변수. memberView.name 과 동일 -->
            <!-- 이 속성을 사용하면 스스로 id, name 속성을 만듬. -->
            <!-- id="name" name="name" -->
            <input type="text" class="form-control" placeholder="이름을(를) 입력해 주세요." th:field="*{name}">
            <!--name  변수가 유효성 검사를 충족하지 못하면, 지정했던 메시지를 보여주기-->
            <p class="fieldError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="text" class="form-control" placeholder="이메일을 입력하세요." th:field="*{email}">
            <p class="fieldError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" class="form-control" placeholder="비밀번호는 숫자와 특수문자를 조합하여 8-16자리로 입력해 주세요." th:field="*{password}">
            <p class="fieldError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" class="form-control" placeholder="주소를 입력하세요." th:field="*{address}">
            <p class="fieldError" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
        </div>
        <div style="text-align:center;">
            <button type="Submit" class="btn btn-primary">
                회원가입
            </button>
        </div>
    </form>
</div>


<div th:replace="common/footer::footer-html"></div>
</body>
</html>